body {
	font-family: 'Asap';
}

.account-admin-main {
	display: grid;
	grid-template-areas: "sidepanel settings-area";
	grid-template-columns: 1fr 3fr;
	gap: 1rem;

	margin: 20px;

	justify-content: center;
}

.sidepanel {
	min-width: 300px;
	background-color: #a1aebe75;
	display: flex;
	flex-direction: column;
}
.main_focus{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.picture {
	background-color: #fff;
	border-radius: 100%;
	align-items: center;
	width: 75%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.user {
	width: 100%;
	height: auto;
	border-radius: 100%;
	align-self: center;
}

.settings-area {
	background-color: #a1aebe75;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5px;
	gap: 1px;
}

.informatii_persoana {
	color: black;
	display: flex;
	flex-direction: column;
	padding: 2px;
	border: none;
	margin-top: 5%;
}

.username {
	font-size: larger;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: blue;
	font-family: 'JetBrains Mono';
}

.mail {

	font-size: medium;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	margin-top: 5px;

}

.alte_info{

}

.modify {
	background-color: #1e1e222a;
	width: 95%;
	display: flex;
	flex-direction: column;
	align-self: center;
	margin: 5px;
}
h3{
	margin: 3%;
	margin-bottom:0;
}
.mod-profil{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.change_mail {
	top: 5%;
	left: 5%;
	width: 100%;
}

.forms{
	padding: 2%;
	margin: 5px;
}

.forms>input {
	font-weight: 600;
	overflow: hidden;
	display: block;
	flex-direction: column;
	width: 65%;
	min-width: 250px;
	flex-wrap: wrap;
	font-size: 18px;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.forms>button {
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	background-color: #687d72;
	width: 45%;
	min-width: 200px;
	padding: 5px;
	border-radius: 5px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.selection{
	padding: 2%;
	margin: 5px;
	margin-bottom: 0px;
}

.forms>select {
	font-weight: 600;
	overflow: hidden;
	display: block;
	flex-direction: column;
	width: 65%;
	min-width: 250px;
	flex-wrap: wrap;
	font-size: 18px;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}



textarea{
	font-weight: 600;
	overflow: hidden;
	display: block;
	flex-direction: column;
	resize: none;
	width: 65%;
	max-width: 65%;
	min-width: 250px;
	min-height: 20%;
	flex-wrap: wrap;
	font-size: 18px;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.Statistici{
	display: flex;
	flex-direction: column;
	flex-flow: column;
}

.Statistici a{
	padding: 10px;
	font-size: larger;	
	background-color: #687d72;
	text-decoration: none;
	text-align: left;
	color: #f4f4f4;
}

.Statistici a:hover {
	background-color: #8ba698;
	color: black;
}

.Statistici a:active{
	background-color:#;
	color: gray;
}

.informatii_persoana
{
	text-align: justify;
	margin: 10px;
}

.informatii_persoana p{
	font-size: 16px;
}



@media only screen and (max-width: 40em) {
	.account-admin-main {

		grid-template-areas:
			"sidepanel"
			"settings-area";
		grid-template-columns: 1fr;
	}
}