.right-area {
	display: grid;
	grid-template-columns: 3fr 3fr;
	grid-template-areas: "user-list user-pane";

}

.user-list {
	background-color: #ffffff43;
	margin: 0.5em;
	border-radius: 5px;
	
	position: relative;
	height: calc(100% - 4em);
	padding: 0.2em;
	/* padding-bottom: 2em; */
}

.info>textarea {
	resize: none;
	width: 95%;
}

.button {
	display: flex;
	justify-content: center;
}

.generic-button {
	border: 0;
	padding: 1em 0;
	padding: 0.4em 1em;
}

.button>button {
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	background-color: #bb3657;
	/* width: 45%; */
	/* min-width: 200px; */
	padding: 4px;
	border-radius: 5px;
	margin: 0.5em auto;

	border: 0;
	padding: 1em 0;
	padding: 0.4em 1em;
	text-align: center;
	transition: background 300ms;
}

/* needs rework */
.student-entry {
	cursor: pointer;
}

.user-pane {
	background-color: #ffffff43;
	margin: 0.5em;
	border-radius: 5px;
	overflow: hidden;
	border-radius: 5px;

}

.user-pic {
	width: 8em;
	height: 8em;
	border-radius: 5px;
	object-fit: cover;
}

.entry {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}

.entry>button {
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	background-color: #bb3657;
	/* width: 45%; */
	/* min-width: ; */
	padding: 0.4em 1em;
	border-radius: 5px;
	margin: 0.5em auto;
	margin-top: 0;

	text-align: center;
	transition: background 300ms;
}

.entry>p {
	margin: 0;
}


.content {
	padding: 0.5em;
}

.information {
	display: flex;
	flex-direction: column;
}

.forms {
	display: flex;
	flex-direction: column;
	padding: 2%;
	margin: 5px;
	border: none;
}

.info {
	display: flex;
	flex-direction: column;
}

.info>input {
	font-weight: 500;
	font-family: 'Asap';
	overflow: hidden;
	display: block;
	flex-direction: column;
	width: 95%;
	/* min-width: 250px; */
	flex-wrap: wrap;
	font-size: 14px;
	background-color: white;
	border-radius: 5px;
	padding: 0.2em;
	margin-top: 5px;
	margin-bottom: 5px;

}

.info>select {
	font-weight: 500;
	font-family: 'Asap';
	overflow: hidden;
	display: block;
	flex-direction: column;
	width: 95%;
	/* min-width: 250px; */
	flex-wrap: wrap;
	font-size: 14px;
	background-color: white;
	border-radius: 5px;
	padding: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
}

header {
	background-color: #36363665;
	font-size: 1.5em;
	padding: 0.5em;

}

p{
	margin: 0;
}

.user-header{
	display: flex;
	flex-direction: row;
	gap: 0.5em;
}




.add-students-button>a {
	background-color: #e7e3e3;
	padding: 1em;
}


.user-entry {
	display: flex;
	background-color: #e8e2da9f;
	width: auto;
	margin: 0.5em 0.5em;
	padding: 0.5em 1em;
	border-radius: 10px;
	align-items: center;
	overflow: hidden;

	cursor: pointer;
	/* text-decoration: none; */
}

.entry-data {
	display: flex;
	flex-direction: row;
	gap: 0.5em
}

.student-pic {
	width: 3em;
	height: 3em;
	border-radius: 10px;
	background-position: center center;
	object-fit: cover;
}

.student-user {
	padding-left: 1em;
	font-size: 1.1em;
	margin: 0;

}

.student-remove-button {
	float: right;
	margin-left: auto;
	padding: 0.5em;
	border-radius: 5px;


	font-size: 1em;
	text-align: center;

	color: white;
	background-color: #f45b69;
	transition: background-color 300ms;

	cursor: pointer;
	text-decoration: none;
}

.student-entry-button {
	float: right;
	margin-left: auto;
	padding: 0.5em;
	margin-right: 1em;
	border-radius: 5px;


	font-size: 1em;
	text-align: center;

	color: white;
	background-color: #f45b69;
	transition: background-color 300ms;

	cursor: pointer;
	text-decoration: none;
	border-color: #e8e2da9f;
	border: none;
}

.button-list {
	display: flex;
	flex-direction: column;
}

.divider {
	display: none;
	margin-top: 0.5em;
	width: 100%;
	background-color: #bec6ce;
	height: 2px;
	border-radius: 50px;
}

@media (max-width:30em) {
	.user-entry {
		flex-direction: column;
		justify-items: center;
		align-items: center;
	}

	.entry-left-side {
		float: unset;
	}

	.student-remove-button {
		float: unset;
		margin: auto;
		margin-top: 0.5em;
	}

	.divider {
		display: block;
	}

}

.student-page-number {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 1.1em;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.page-text {
	padding: 0;

	margin: 0;
	margin-right: 0.5em;
}

.page-number {
	background-color: #748e8f;
	border-radius: 4px;
	padding: 0.5em;
	font-size: 0.9em;
	cursor: pointer;
	border-color: #acc0d0;
	color: #e7e3e3;
}

.user-list-pane{
	position: relative;
}

.navigation-buttons{
	margin: 0.8em 1em;
}


.items-on-page {
	margin: 1em;
}


@media (max-width: 45em) {
	main {
		flex-direction: column;
		height: fit-content;
	}

	.dashboard {
		margin: 1em;
		height: fit-content;
		border-radius: 8px;

	}

	.dashboard>.class-id {
		margin-top: 2em;
	}

	.section-area {
		height: fit-content;
		width: auto;
		padding-bottom: 4em;
	}

	.right-area {
		grid-template-columns: 1fr;
		grid-template-areas: "user-list"
			"user-pane";
		width: auto;
	}
}
