@import url("https://fonts.googleapis.com/css?family=Asap");


/* ADMIN NAVBAR */

.admin-navbar{
	display: flex;

	overflow: hidden;
	background-color: #313137;
	position: sticky;
	top: 0px;
	font-family: Asap;
	height: 3em;
	align-items: center;
	justify-content: center;
	z-index: 2;
}


.admin-button {
	/* float: left; */
	color: #f2f2f2;
	text-align: center;
	padding: 1em;
	/* margin:1em; */
	text-decoration: none;
	font-size: 1.2em;

	transition: background 200ms;
	cursor: pointer;
	text-decoration: none;
}

.admin-button:hover {
	background-color: #ddd;
	color: black;
}

.active{
	background-color: #c7cbd0;
	color: black;
}