body {
	display: flex;
	flex-direction: column;
	margin: 0;
	font-family: "Asap", Helvetica, sans-serif;
	background-color: #e7e3e3;
	height: 100%;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -80px;
}

main {

	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0 3em;

	border-radius: 5px;

	transform: translate(-50%, -50%);

	background-color: #d6c3a275;
	box-shadow: 5px 5px 5px #4e3c4233;

	transition: all 100ms;
}

/* @import url("https://fonts.googleapis.com/css?family=JetBrains Mono"); */
.title {
	text-align: center;
	font-size: 6vi;

	font-family: 'JetBrains Mono';
	/* margin: 0; */
	margin: 0.3em 0;
}

.login-options {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 3vi;

}

.login-option {
	display: flex;
	flex-direction: column;
	padding: 1em;
	min-width: 10em;
	max-width: 15em;

	background-color: #f4505e;
	margin: 1em;
	border-radius: 10px;

	transition: background-color 300ms;
	cursor: pointer;
	/* align-items: center;
	justify-content: center; */
}

.login-option:hover {
	background-color: #fc2f40;
	opacity: 1;
}


.login-option>p {
	text-align: center;
	font-size: 1.5em;
	margin: 0;
	padding: 0;
}

.icon {

	display: block;
	align-self: center;
	margin: 1em;
	/* width: 20vh; */
	width: 6em;
}

.create-account {
	text-align: center;
	margin-bottom: 1em;
}

.create-account>p {
	margin: 0;
	margin-bottom: 0.2em;

}

.create-account>a {

	text-align: center;
	margin: 0;
	margin-bottom: 1em;

	text-decoration: none;
	color: rgb(255, 0, 89);
}


footer {
	position: absolute;
	bottom: -8em;
	height: 8em;
	width: 100%;
	/* height: 80px; footer height */
	background-color: #d2b1b1;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	/* justify-content: center; */
}

content {
	font-size: 1.2em;

}

content>a {
	text-decoration: none;
}

@media only screen and (max-width: 40em) {
	.login-options {
		flex-direction: column;
	}

	.login-option {
		max-width: none;
		padding: 0.5em;
	}

	.icon {
		width: 4em;
	}

	.login-option>p {
		font-size: 1.5em;
	}
}