.login {
	overflow: hidden;
	background-color: #ada2d67d;
	padding: 40px 40px 5px 40px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;


	max-width: 25em;

	/*asta il pune la mijloc */
	transform: translate(-50%, -50%);

	/*asta face tranzitia */
	transition: transform 300ms, box-shadow 600ms;

	/* asta pune shadow */
	box-shadow: 5px 10px 10px #1c1c1d33;

	/*//asta scoate blur-ul de pe Chrome din cauza ca opacitatea e pe 0.8*/
	filter: blur(0);
}

.login::before,
.login::after {
	content: "";
	position: absolute;
	width: 600px;
	height: 600px;
	border-top-left-radius: 40%;
	border-top-right-radius: 45%;
	border-bottom-left-radius: 45%;
	border-bottom-right-radius: 40%;
	z-index: -1;
}


.login::before {
	left: 70%;
	top: 10%;

	background-color: #313137ae;

	animation: wawes 6s infinite linear;
}

.login::after {
	left: 65%;
	top: 10%;

	background-color: #31313763;

	animation: wawes 7s infinite;
}



.login>input {
	display: block;
	width: 22.5em;
	height: 100%;
	padding: 12px 20px;
	margin: 15px 0px;
	border: 0;
	border-radius: 4px;


	background: white;
	font-size: 16px;
	font-weight: 600;

	opacity: 0.8;
}

.login>button {
	width: 100px;
	border: 0;
	padding: 10px 0;
	margin-top: 10px;
	border-radius: 5px;

	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	background-color: #f45b69;

	cursor: pointer;
	transition: background-color 300ms;
}

.login>button:hover {
	background-color: #f24353;
	opacity: 1;
}



.register>a {
	opacity: 1;
	text-decoration: none;
	color: rgb(255, 0, 89);
}

@media (max-width:500px) {
	.login {
		/* width:18em; */
		width: 70vw;
	}

	.login>input {
		width: 60vw;
		/* width: 16em; */
	}

}

@keyframes wawes {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}