.login {
	overflow: hidden;
	background-color: #a9b2ba;
	padding: 40px 40px 5px 40px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;

	transform: translate(-50%, -50%);/*//asta il pune la mijloc */
	transition: transform 300ms, box-shadow 300ms; /*//asta face tranzitia */
	box-shadow: 5px 10px 10px rgba(28, 28, 29, 0.2); /* //asta pune shadow */

	filter:blur(0); /*//asta scoate blur-ul de pe Chrome din cauza ca opacitatea e pe 0.8*/
}
.login::before, .login::after {
	content: "";
	position: absolute;
	width: 600px;
	height: 600px;
	border-top-left-radius: 40%;
	border-top-right-radius: 45%;
	border-bottom-left-radius: 45%;
	border-bottom-right-radius: 40%;
	z-index: -1;
}

@keyframes wawes {
	from {
	transform: rotate(0); 
	}
	to {
	transform: rotate(360deg); 
	}
}
.login::before {
	left: 70%;
	bottom: -100%;
	background-color: #313137ae;

	animation: wawes 6s infinite linear;
}
.login::after {
	left: 65%;
	bottom: -95%;
	background-color: #31313763;

	animation: wawes 7s infinite;
}
.login > input {
	display: block;
	width: 100%;
	height: 100%;
	padding: 12px 20px;
	margin: 15px 0px;
	border-radius: 4px;
	border: 0;

	background: white;

	font-size: 16px;
	font-weight:600;
	
	opacity: 0.8; 
}
.login > button {
	/* font-family: "Asap", sans-serif; */

	cursor: pointer;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	width: 100px;
	border: 0;
	padding: 10px 0;
	margin-top: 10px;
	margin-left: -5px;
	border-radius: 5px;
	background-color: #f45b69;

	transition: background-color 300ms;
}
.login > button:hover {
	background-color: #f24353;
	opacity: 1;
}



.underlogin > a {
	opacity: 1;
	text-decoration: none;
	color: rgb(255, 0, 89);
}
