.problem-section {
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	max-width: 55em;
	margin: 1em auto;
	/* margin:1em; */
	background-color: #ada2d675;
}

@media (max-width:52em) {
	.problem-section {
		margin: 1em;
	}

}

.problem {
	display: flex;
	flex-wrap: wrap;

	flex-direction: column;
	background-color: #e7e3e3;
	margin: 1em;
	border-radius: 4px;
	overflow: hidden;
}

.header {
	background-color: #4a494dae;
	/* border-radius: 2px; */
}

.header-left-side {
	float: left;

	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.7em;
	height: auto;
	border-radius: 2px;
}

.header-left-side>.title {
	margin: 0.5em;
	color: #e7e3e3;
	font-size: 0.7em;
	padding: 0.5em;
}

.header-left-side>.problem-id {
	margin: 0.5em;
	color: #e7e3e3;
	font-size: 0.5em;
	padding: 0.5em;
}

.view-problem-button {
	float: right;
	text-align: justify;
	text-decoration: none;
	margin: 0.4em;

	padding: 0.5em;
	border-radius: 1.7px;
	color: #000;
	font-size: 20px;
	background-color: #e7e3e3;
}

.view-problem-button a:hover {
	text-align: justify;
	background-color: #185a42;
	color: aliceblue;
	text-decoration: none;
}

.view-problem-button a:active {
	text-align: justify;
	color: aliceblue;
	text-decoration: none;
}

.description {
	padding: 1em;

}

.description>p {
	margin: 0;
}

@media (max-width:30em) {
	.header-left-side {
		flex-direction: column;
	}

	.header-left-side>.title {
		margin-bottom: 0;
		padding-bottom: 0;

	}

	.header-left-side>.problem-id {
		margin-top: 0;
	}

	.view-problem-button{
		margin-top:0.8em;
	}
}

@media (max-width:22em) {
	.header{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.view-problem-button{
		margin-top: 0;
	}


}