.problem-section{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 50em;
	margin: 2em auto 2em auto;
	background-color: #ada2d675;
}
.problem{
    display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: #e7e3e3;
	margin: 1em;
	border-radius: 4px;
	overflow: hidden;
}
.problem>.header{
    width: 100%;
	font-size: 2em;
	background-color: #4a494dae;
	border-radius: 2px;
}

.problem > .header >.title {
    float: left;
    margin: 0.5em;
    color: #e7e3e3;
	font-size: 0.7em;
	padding: 0.5em;
}

.problem>.header>.sent-button{
    float: right;
    text-align: justify;
    text-decoration: none;
    margin: 0.6em;
	padding: 0.6em;
	border-radius: 2px;
    color: #000;
	font-size: 20px;
	background-color: #e7e3e3;
}

.problem>.header>.sent-button a:hover{
    text-align: justify;
    background-color:#185a42;
    color: aliceblue;
    text-decoration: none;
}

.problem>.header>.sent-button a:active{
    text-align: justify;
    color: aliceblue;
    text-decoration: none;
}
