/* body{
	display: flex;
	flex-direction: column;
} */


.class-admin {
    display: flex;
    flex-direction: row;

    margin: 0;
    /* height: 10px; */
    justify-content: space-between;
    min-height: 35em;
}




.dashboard {
    display: flex;
    flex-direction: column;

    height: calc(100vh - 6em);
    min-height: 33em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;


    padding-bottom: 1em;

    min-width: 300px;

    overflow: hidden;

    background-color: #ada2d675;

    transition: all 300ms;
}


.dashboard>.filter {
    text-align: center;
    margin: 0;
    padding: 1em;
    font-size: 1.4em;
    color: white;
    background-color: #313137ea;
    overflow: visible;
    /* max-width: 300px; */
    margin-bottom: 1em;
    /* white-space: initial; */
    word-wrap: break-word;
}

.dashboard>.class-id {
    text-align: center;
    /* align-self:flex-end; */
    margin-top: auto;
    font-size: 0.9em;
}

.dashboard>a {
    font-size: 1.3em;
    padding: 1em;
    background-color: #e6e4d8;
    margin: 5px;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 2px;

    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: black;

    transition: background 500ms;
}

.dashboard>a:hover {
    background-color: #313137ea;
    color: white;
}

.dashboard>a.active {
    background-color: #292c2ff9;
    color: white;
}



.section-area {
    /* height: calc(100vh - 5em); */
    margin: 1em;
    display: flex;
    width: 100%;

    flex-direction: column;

    overflow: hidden;

    border-radius: 5px;
    background-color: #ada2d675;
}

.section-header {
    margin-top: 0;
    /* margin-bottom: 1em;
	padding: 0.75em; */
    background-color: #5a7a7b;
    /* //#292c2ff9; */
}

/* .section-header-settings {
	margin-top: 0;

	background-color: #292c2ff9;
} */

.section-title {
    float: left;
    margin-left: 1em;

    font-size: 1.4em;

    color: white;
}



.section-save-button {
    float: right;

    margin: 0.8em;
    padding: 0.6em;
    border-radius: 5px;

    font-size: 1.1em;
    text-align: center;

    color: white;
    background-color: #f45b69;
    transition: background-color 300ms;

    cursor: pointer;
    text-decoration: none;
}

.section-save-button:hover {
    background-color: #f24353;
}

.option {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 5px;
    background-color: #e7e3e3;


}

.option>.option-label {
    font-size: 1.2em;
    margin: 0.5em;
}

.option>.input-description {
    margin: 0.5em;
    /* margin-right: 3em; */
    width: 98%;
    height: 3.5em;
    padding: 1em;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* overflow: scroll; */
}

.panel-problem {
    margin: 1.5em;
    margin-bottom: 0em;
    padding: 0em;

    background-color: #e7e3e3;
    flex-direction: column;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

.title {
    background-color: #709a9b;
    color: white;
    width: 100%;
    margin-top: 0;
    height: auto;
}

.format {
    float: left;
    margin: 0.8em;
    margin-left: 1em;
    font-size: 1em;
    color: white;
}

.description {
    color: black;
    width: fit-content;
    padding: 1.0em;
}

.problem-description {
    text-align: justify;
}

.redirect {
    background-color: #5a7a7b;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 1.0em;
    float: right;
    transition: 300ms;
}

.redirect:hover {
    background-color: #1a494a;
}

.redirect:active {
    background-color: #1a494a;
}

@media only screen and (max-width: 40em) {
    .class-admin {
        flex-direction: column;
        height: fit-content;
    }

    .dashboard {
        margin: 1em;
        height: fit-content;
        border-radius: 8px;

    }

    .dashboard>.class-id {
        margin-top: 2em;
    }

    .section-area {
        height: fit-content;
        width: auto;
    }
}

/* .content-students>.seach-bar{
	background-color: #e6e4d8;
	width: 100%;
} */


.content-header {
    /* display: block; */
}

.search-bar {
    /* float: left; */

    display: flex;
    flex-direction: row;
    background-color: #e6e4d8;
    width: auto;
    margin: 1em;

    /* max-width: 30em; */
    /* min-width: auto; */

    border-radius: 10px;
    align-content: stretch;
    overflow: hidden;
}

.search-bar>.image {
    width: 2em;
    padding: 0.5em;
    /* margin:1em; */
    background-color: #f45b69;
    /* //#c1ed84;  */

}

.search-bar>.search-input {
    flex-grow: 1;

    border-radius: 10px;
    background-color: #e0decfa0;
    border: 0;
    padding-left: 0.5em;
    font-size: 1.3em;
}

.search-bar>.search-input:focus {
    outline: none;
}

/* .add-students-button{
	float: right;
	padding: 1em;
	margin: 1em;
	margin-top: 2em;
	border-radius: 5px;

	cursor: pointer;
}
*/
.add-students-button>a {
    background-color: #e7e3e3;
    padding: 1em;

    /* margin-top: 1em; */
}


/*  */

.student-entry {
    display: flex;
    background-color: #acc1d4;
    width: auto;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    align-items: center;


    /* text-decoration: none; */
}

.entry-left-side {
    flex: 1;
    /* margin-right: 0; */

    display: flex;
    align-items: center;

    /* cursor: pointer; */
}

.student-pic {
    width: 3em;
    border-radius: 10px;

}

.student-user {
    padding-left: 1em;
    font-size: 1.2em;
    margin: 0;

}

.student-remove-button {
    float: right;
    margin-left: auto;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 1.1em;
    text-align: center;

    color: white;
    background-color: #f45b69;
    transition: background-color 300ms;

    cursor: pointer;
    text-decoration: none;
}

.hidden {
    display: none;
}

label {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    background-color: #eee;
    align-items: center;
    cursor: pointer;
    margin: 5px;
}

label:before {
    width: 100px;
    padding: 10px;
    display: block;
    background-color: #ccc;
    color: white;
    text-align: center;
}

label>.text {
    display: block;
    width: 5em;
    flex-grow: 1;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    color: #333;
}

label:hover,
input:checked+label {
    border: 1px solid #ab0153;
}

label:hover>.text,
input:checked+label>.text {
    color: #ab0153;
}

input:checked+label {
    background-color: white;
}

input:checked+label::before {
    background-color: #ab0153;
}

.dificultate {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
    max-width: 100%;
    margin: auto;
}

.tag {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.tag-1 {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.date {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.date-form {
    display: flex;
    flex-direction: column;
}

.search-tag {
    display: flex;
    flex-direction: row;
    align-self: center;
}