main{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:1em;
	margin: 1em;
}
p{
	margin: 0.5em;
}

button{
	cursor: pointer;
}

.info-panel, .problem-panel{
	/* max-width: 40em; */
	min-width: 40em;
	background-color: #3f3d3d5b;
	border-radius: 5px;
	padding: 1em;
	font-size: 1.1em;
}
.info-item{
	display: flex;
	flex-direction: row;

}
.header{
	font-size: 1.2em;
}

.problem-item{
	display: flex;
	flex-direction: row;
	/* gap: ; */
	justify-content: space-between;
	align-items: center;
	background-color: rgba(240, 255, 255, 0.644);
	margin: 0.5em;
	border-radius: 5px;
	padding: 0em 0.5em;
}

.problem-id-div{
	display: flex;
	flex-direction: row;
}