.rating{
	grid-column: 2;
	justify-self: end;
	display: flex;
	font-size: 1.1em;

	cursor: pointer;
}

.rating>p{
	margin: 0;
	margin-right: 1em;
}

.checked {
	color: orange;
}

.hover{
	color: rgb(250, 202, 112);
}

.fa{
	height: 0.5em;
}