.content {
	grid-template-areas: "header"
		"buttons"
		"comments-panel"
		"new-comment";
}

.description {
	grid-area: header;
}

.button-section {
	grid-area: buttons;
}

.comments-panel {
	grid-area: comments-panel;
	background-color: rgb(177, 177, 177);
	display: none;
}

.comment {
	display: grid;
	grid-template-areas: "left-pane message";
	grid-template-columns: auto 1fr;
	margin: 1em;
	padding: 1em;

	background-color: rgb(214, 214, 214);
	border-radius: 4px;
}

.left-pane {
	grid-area: left-pane;
	display: grid;
	grid-template-areas: "user"
		"post-date";
	height: fit-content;
}


.user {
	grid-area: user;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-self: start;

}

.user-pic {
	width: 2.5em;
	border-radius: 10px;
}

.user-link {
	margin-left: 0.5em;
	text-decoration: none;
	color: rgb(47, 26, 30);
}

.post-date {
	grid-area: post-date;
	grid-column: 1;
	grid-row: 2;

	display: flex;
	/* flex-direction: row; */
	gap: 0.5em;
}

.message {
	grid-area: message;
	margin-left: 1em;
	padding: 0.5em;
	background-color: #e8e8e8;
	border-radius: 4px;
}


.new-comment {
	grid-area: new-comment;
	display: grid;
	grid-template-areas: "comment-greet-message comment-button"
		"comment-message comment-message";
	justify-content: space-between;
	align-items: center;
	background-color: rgba(201, 199, 199, 0.983);
	border-radius: 4px;

}

.comment-greet-message {
	grid-area: comment-greet-message;
	margin: 0.5em;
	margin-bottom: 0;
	font-size: 1.2em;
}

.comment-input {
	grid-area: comment-message;
	height: 6em;

}

.comment-input>textarea {
	box-sizing: border-box;
	resize: none;
	width: calc(100% - 1em);
	height: calc(100% - 1em);

	font-size: 1.2em;
	padding: 0.5em;
	border-radius: 4px;
	margin: 0.5em;
	background-color: #fffffff1;
}

.submit-button-cell {
	grid-area: comment-button;
	margin-top: 0.5em;
	margin-right: 1em;
}



@media (max-width:50em) {
	.comment {
		grid-template-areas: "left-pane"
			"message";
	}

	.message {
		margin: 0;
	}
}

