main{
	display: flex;
	flex-direction: row;

	margin: 0;
	/* height: 10px; */
	justify-content: center;
	min-height: 35em;
}

* {box-sizing: border-box;}

.problemas{
	display: flex;
	flex-direction: row;
	background-color: #ada2d675;
	margin: 2em;
 	align-self: center;
	justify-content: center;
	max-width: 1000px;
	width: 100%;
	height: calc(100vh - 6em);
	border-radius: 5px;
	overflow: hidden;
}

.description{
	display: flex;
	flex-direction: column;
	align-self: center;
	flex-grow: 1;
	height: 100%;
}

.title{
	background-color: #709a9b;
    color: white;
    width: 100%;
    margin-top: 0;
    height: auto;
}

.format-title{
	float: left;
    margin-left: 0.8em;
    font-size: 1.2em;
    color: white;
}

.tags{
	flex:1;
	padding: 1.5em;
}

.header{
	margin-top:0em;
}

.difficulty >.header{
	margin-top:0em;
	float: left;
	margin-right: 0.5em;
}

.difficulty{
	display: flex;
	flex-direction: row;
}

.type{
	margin-top: 0em;
	float: right;
}

.body{
	background-color: #a0a0a0;
	display: flex;
	flex-direction: column;
	align-self: center;
	flex-grow: 2;
	height: 100%;
}

.the-body{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
	height:100%;
}

.the-body>textarea{
	display: flex;
	flex-direction: column;
	align-self: center;
	resize: none;
    width: 96%;
	height: 100%;
    font-size: 1.2em;
	padding: 0.5em;
}

ul{
 list-style-type: none;
 padding-left: 0.5em;
}
.tags-2{
	margin:0.5em;
}

.button{
	padding: 0.5em;
	align-self: center;
	font-size: 1.0em;
	font-family: 'Asap';
	color: white;
    background-color: #f45b69;
    transition: background-color 300ms;
	border-radius: 5px;
}

.button:active{
	background-color: #f24353;
}

.button:hover{
	background-color: #f24353;
}

.special-class{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: auto;
	padding: 1.5em;
}

@media only screen and (max-width: 55em) {
	.problemas {
		flex-direction: column;
		height: fit-content;
		width: 100%;
		overflow: hidden;
		margin:1em;
	}

	.the-body{
		display: flex;
		align-self: center;
		max-width: 50em;
		min-width: 90%;
		padding: 1em;
		height: 10em;
	}

	.body{
		width: 100%;
		min-width: 0em;
		display: flex;
		align-self: center;
		justify-self: center;
	}

	.description{
		width:fit-content;
		min-width: 100%;
	}
	main{
		margin: 1em;
	}


}